<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Associations</title>
</head>
<body>
  <h1>This is the associations page!</h1>
  <div ng-controller='associationsController'>
    <select ng-model='association.playerindex'>
      <option ng-repeat="player in players" value="{{$index}}">{{player.name}}</option>
    </select>
    <select ng-model='association.team'>
      <option ng-repeat="team in teams" value="{{team.name}}">{{team.name}}</option>
    </select>
    <button ng-click="assignPlayer()">Assign Player to Team</button>


    <table>
      <thead>
        <tr>
          <th>Name:</th>
          <th>Team Name:</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="team in teams">
          <td>{{ team.name }}</td>
        </tr>
        <tr ng-repeat="player in players">
          <td>{{ player.name }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</body>
</html>
